:root {
  --couleur-primaire: #e4302f;
}

header{
  text-align: center;
}

header h1{
  margin-bottom: 0;
}
header h2{
  margin-top: 1rem !important;
  font-size: 1.4rem;
  color: var(--couleur-primaire);
}

.entete .buttons{
    margin-top: 1rem;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer div{
  padding-block: 0;
  display: inline-block;
  text-align: center;
  margin-inline: 1rem;
}

.footer .pusher{
  flex: 2 0 50vw;
  margin: auto;
}
