:root {
  --couleur-primaire: #e4302f;
}

header{
  text-align: center;
}

header h1{
  margin-bottom: 0;
}
header h2{
  margin-top: 1rem !important;
  font-size: 1.4rem;
  color: var(--couleur-primaire);
}

.entete .buttons{
    margin-top: 1rem;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer div{
  padding-block: 0;
  display: inline-block;
  text-align: center;
  margin-inline: 1rem;
}

.footer .pusher{
  flex: 2 0 50vw;
  margin: auto;
}

.reseaux-sociaux{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.reseaux-sociaux li{
  list-style: none;
  margin: 1rem;
}

.reseaux-sociaux li img{
  min-height: 5rem;
  min-width: 5rem;
}

.email{
  padding-block-end: 0;
}

.villes a{
  font-size: 1.2rem;
  font-weight: bold;
}

#candidature > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100vw;
}

#candidature > div article{
  max-width: 60ch;
}

.agenda{
  background-color: var(--vert);
  margin-bottom: 0;
}

.agenda ul, .agenda li{
  list-style: none;
}
