:root {
  --couleur-primaire: #e4302f;
}

header{
  text-align: center;
}

header h1{
  margin-bottom: 0;
}
header h2{
  margin-top: 1rem !important;
  font-size: 1.4rem;
  color: var(--couleur-primaire);
}

.entete .buttons{
    margin-top: 1rem;
}
